.visual-circleCardF104EFC651FB424F8716C3D9476F1A63_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-circleCardF104EFC651FB424F8716C3D9476F1A63_DEBUG p em {
  background: yellow;
  padding: 5px;
}
